<!DOCTYPE html>
<html lang="en">
{{>head}}
<body>
    {{>nav}}
    <div class="container flow-content xl-space-top">
        {{>header}}
        <p class="error">{{error}}</p>
    </div>
    {{>footer}}
</body>
</html>