<!DOCTYPE html>
<html lang="en">
{{>head}}
<body>
    {{>nav}}
    {{>header}}

    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Et accusantium possimus id, nostrum ipsam consectetur odio dignissimos labore facilis, repellendus expedita quod voluptatibus quas alias optio cupiditate numquam tenetur natus!</p>

    {{>footer}}
</body>
</html>