<!DOCTYPE html>
<html lang="en">
{{>head}}
<body>
    {{>nav}}
    <div class="container flow-content md-space-top">
        {{>header}}

        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis blanditiis temporibus magni excepturi quod eveniet vero quo sit sint, nisi praesentium nostrum itaque distinctio optio voluptas dolorum eaque nemo corrupti?</p>
    </div>

    {{>footer}}
</body>
</html>