<!DOCTYPE html>
<html lang="en">
{{>head}}
<body>
    {{>nav}}
    {{>header}}

    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis blanditiis temporibus magni excepturi quod eveniet vero quo sit sint, nisi praesentium nostrum itaque distinctio optio voluptas dolorum eaque nemo corrupti?</p>

    {{>footer}}
</body>
</html>