/* utilites */

.flow-content > * + * {
  margin-top: var(--flow-space, var(--spacer));
}

.md-space-top {
  margin-top: 3rem !important;
}

.xl-space-top {
  margin-top: 5rem !important;
}

.md-space-bottom {
  margin-bottom: 3rem !important;
}

.split {
  display: flex;
  flex-direction: column;
  gap: var(--split-gap, 2.5rem);
}

.split > * {
  flex-basis: 100%;
}

@media (min-width: 50em) {
  .split {
    flex-direction: row;
    gap: 2rem;
  }
}

.container {
  --flow-space: 3rem;
  width: 90%;
  max-width: 50rem;
  margin: 0 auto;
}
